.logo-header{
	height: auto;
	width: 13%;
}

#useCase .useCase-item {
    margin: 0 0 15px;
    right: 0
}

#useCase .useCase-item .useCase-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto
}

#useCase .useCase-item .useCase-link .useCase-hover {
    background: rgba(254, 209, 54, .9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s
}

#useCase .useCase-item .useCase-link .useCase-hover:hover {
    opacity: 1
}

#useCase .useCase-item .useCase-link .useCase-hover .useCase-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: #fff
}

#useCase .useCase-item .useCase-link .useCase-hover .useCase-hover-content i {
    margin-top: -12px
}

#useCase .useCase-item .useCase-link .useCase-hover .useCase-hover-content h3,
#useCase .useCase-item .useCase-link .useCase-hover .useCase-hover-content h4 {
    margin: 0
}

#useCase .useCase-item .useCase-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 25px
}

#useCase .useCase-item .useCase-caption h4 {
    text-transform: none;
    margin: 0
}

#useCase .useCase-item .useCase-caption p {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    margin: 0
}

#useCase * {
    z-index: 2
}

@media (min-width:767px) {
    #useCase .useCase-item {
        margin: 0 0 30px
    }
}

.carousel{
    margin-left: 15%;
    margin-right: 15%;
}

.carousel-img {
    margin: auto;
}


.image-current-detail{
	position: relative;
	width: 100%;
}

.current-detail{
    position: relative;
}

.current-detail-list{
	list-style-type: none;
}

.current-detail-list > li{
	text-align: left;
	margin: 0;
	padding: 0;
}

.current-detail-list > li > h5{
	color: red;
	text-align: left;
	margin-left: 15%;
	padding: 0;
}


.current-detail-list > br{
	line-height: 0;
}

.fa-stack-1x {
    color:white;
}

.icon-reduce-0 {
   color:#3b5998;
}

.icon-reduce-1 {
    color:#00aced;
}

.icon-reduce-2{
    color:#dd4b39;
}


.product-list{
    list-style-type: none;
    margin: auto;
    width: 50%;
}

.product-list > li{
    padding: 0;
    margin-left: 10%;
}


.fa-stack-1x {
    color:white;
}

.icon-product-0 {
   color:#3b5998;
}

.icon-product-1 {
    color:#00aced;
}

.icon-product-2{
    color:#dd4b39;
}

.about-us{
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    font-weight: normal;
}

.waycare{
    font-weight: bold;
    color: #7ec0ee;
    font-size: 120%;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.smart-highway{
    font-weight: bold;
    color: #990000;
    font-size: 120%;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.goal{
    margin-left: 30%;
    margin-right: 30%;
}